$primary_color: #ffffff;
$secondary_color: #f5f5f5;
$active_color: #f0283c;

$default_background: #121212;
$secondary_background: #242424;
$card_background: #424242;
$default_border: #1a1a1a;
$grey_60: #b8b8b8;
$grey_80: #262626;
$murky_black: #333333;
