@import "../styles/veriables.scss";

@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Archivo", sans-serif;
}

html,
body {
  position: relative;
  max-width: 100vw;
  height: 100%;
  background: $default_background;
  overflow-x: hidden;
  color: $primary_color;
}

.globalSectionWrapper {
  max-width: 1597px;
  width: 100%;
  margin: 0 auto;
}
