@import "../../styles/veriables.scss";

.navbar {
    background-color: $secondary_background;
    padding: 12px 15px;

    .navWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navTabs {
            ul {
                display: flex;
                gap: 15px;
                li {
                    list-style: none;
                    &.navItem {
                        display: flex;
                        padding: 10px 20px;
                        align-items: center;
                        // gap: 10px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        border-radius: 8px;
                    }
                }
            }
        }

        .navItem {
        }
    }
}
